<div class="d-flex flex-row">
<%- include('frame', {type: 'value', content: ['Armor Class', content.armor]}); %>
<%- include('frame', {type: 'value', content: ['Proficiency Bonus', content.proficiency]}); %>
<%- include('frame', {type: 'value', content: ['Maximum Hit Points', content.maxhp]}); %>
<%- include('frame', {type: 'value', content: ['Current Hit Points', content.hp]}); %>
<%- include('frame', {type: 'value', content: ['Death Saves', content.death]}); %>
</div>
